body {
    font-family: Arial, sans-serif;
    background-color: #fff1e2;
}

.backgroundphoto{
    background-size: 100%;
    background-position: center;
    margin-bottom: -50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 105%;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.button {
    padding: 15px 30px;
    background-color: #333;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    border-radius: 6px;
}

.button:hover {
    background-color: #555;
    transform: translate(0, -5px);
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.cropped {
    width: 200px;
    height: 200px; 
    object-fit: cover;
    border: 5px solid black;
}