* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    font-family: Arial, Helvetica, sans-serif;

    color: #333;

}

.nav {
    height: 80px; 

    background-color: #424242;
    color: white;


    display: flex;

    align-items: center;
    position: sticky;
    top: 0;

    z-index: 1000;
}

.nav-inner {
    width: 100%;
    display: flex;

    justify-content: space-between;
    padding: 0 40px;
}

.logo img {
    width: auto;

    height: 80px; 
}

nav a {
    color: #fff;
    text-decoration: none;

    padding: 20px 15px;
    font-size: 23px;

    margin-top: 20px;
    transition: color 0.3s;
}

nav a:hover {


    color: #c0c0c0;
}


.container {
    width: 100%;
    padding: 20px;

    margin-top: 20px;
}

.carousel {
    width: 100%;
    max-width: 1200px; 


    margin: 0 auto;
    overflow: hidden;

    position: relative;
}

.carousel-inner {
    display: flex;

    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;

    max-width: 100%;
}


.carousel-item img {
    width: 100%;
    height: auto;
}


.about, .gallery {
    text-align: center;
    padding: 20px;

}

.gallery {
    display: flex;

    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;

}

.gallery-item {

    position: relative;

    width: calc(33.33% - 20px);

    margin: 10px;
    overflow: hidden;


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
   
    height: 200px; 
}

.gallery-item img {
    width: 100%;
    height: 100%; 

    object-fit: cover;
}

.gallery-item .descripgallery {


    position: absolute;

    bottom: 0;

    left: 0;
    width: 100%;
    height: 50px; 

    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;


    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-item:hover .descripgallery {
    opacity: 1;

}


.descripgallery-text {
    font-size: 16px;
    color: #fff;
    padding: 10px;

    text-align: center;
}



.footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 10px;

    position: relative;
    bottom: 0;

    width: 100%;
}

@media only screen and (max-width: 620px) {
    .gallery img {

        width: 100%;
    }
}


.fade-in {
    opacity: 0;
    
    transition: opacity 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
}

.wrapper{
    width: 450px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 1.45rem;
    font-weight: 500;
  }
  .calendar{
    padding: 20px;
  }
  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 1.07rem;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: red;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }
